@font-face {
  font-family: 'Roboto';
  src: url('./src/assets/fonts/Roboto-Regular.ttf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('./src/assets/fonts/Roboto-Medium.ttf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('./src/assets/fonts/Roboto-Bold.ttf') format('opentype');
  font-weight: 700;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  height: 100%;
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Medium', Arial, sans-serif;
  margin: 0;
  text-align: center;
}

#root {
  height: 100%;
  width: 100%;
}
