@font-face {
  font-family: 'DINPro Regular';
  src: url('./src/assets/fonts/DINPro-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'DINPro Medium';
  src: url('./src/assets/fonts/DINPro-Medium.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'DINPro Bold';
  src: url('./src/assets/fonts/DINPro-Bold.otf') format('opentype');
  font-weight: 700;
}

body {
  font-family: 'DINPro Regular', Arial, sans-serif;
  font-weight: 400;
  height: 100%;
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DINPro Bold', Arial, sans-serif;
  margin: 0;
  text-align: center;
}

#root {
  height: 100%;
  width: 100%;
}
